<div class="gridster">
  <ul>
    <li data-row="2" data-col="4" data-sizex="4" data-sizey="4">
      <div data-id="graphite_test" data-view="Number" data-title="Idle Period" style="background-color: green"></div>
    </li>
</div>