<div class="gridster">
  <ul>
    <li data-row="2" data-col="4" data-sizex="4" data-sizey="4">
      <div data-id="graphite_test" data-view="Number" 
	   data-title="Idle Period" style="background-color: green"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="2" data-sizey="1">
      <div data-id="graphite_load_test" data-view="Graph"
	   data-title="Graphite Load" style="background-color:#ff9618"></div>
    </li>
</div>
